{% extends 'layout.html.twig' %}
{% block title %}
    Random

{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/Video/origin.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row divvideo ">
            <iframe class="col-6" width="500" height="315" src="{{ data }}?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <ul class="col-5 offset-1 divtext">
                <li>city:{{ para.city }}</li>
                <li>region:{{ para.region }}</li>
                <li>country:{{ para.country }}</li>
                <li>continent:{{ para.continent }}</li>
            </ul>
        </div>
    </div>
{% endblock %}